/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* This style below will be inherited */
  font-family: 'Lato', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  font-weight: 400; /* Regular weight for body text */
  min-height: 100vh;
  border-bottom: 1px solid #ccc;
  
    
}
